{% extends "core/base.html" %}   
{% block title %}A cerca de {% endblock %} 
{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %}
    <h1>Acerca de</h1>
    <span class="subheading">Biografía</span>   
{% endblock %} 

{% block content %}
    <div class="row"> 
      <div class="col-lg-3 col-md-4 offset-lg-1">
        <img class="img-fluid avatar" 
        src="{%static 'core/img/avatar.jpg' %}" 
        alt="">
      </div>
      <div class="col-lg-7 col-md-8">
        <h2 class="section-heading">Mary Liliana Chamba Herrera</h2>   
        <p>Nacida en Quito, el 03 de Junio de 1986.</p>
        <p>Hija de Hipolito Chamba y Mary Herrera, estudio en un colegio de las hermanas de la providencia desde el jardin hasta 10mo año.</p>
      </div>
    </div>
   
{% endblock %}